In [36]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np
from sklearn import linear_model
from sklearn.preprocessing import LabelEncoder
%matplotlib inline
#import warnings
#warnings.filterwarnings(action="ignore", module="scipy", message="^internal gelsd")

In [37]:
#df = pd.read_csv('table_8_offenses_known_to_law_enforcement_new_york_by_city_2013.csv', low_memory=False)
df = pd.read_csv('NEW_YORK-Offenses_Known_to_Law_Enforcement_by_City_2013 - 13tbl8ny.csv',low_memory=False, header=None)
regr = linear_model.LinearRegression()

In [38]:
#df=df.drop([df.columns[[0, 2]]], axis=1, inplace=True)
#df.drop(df.columns[[0,2]], axis=1, inplace=True)
df.drop(df.iloc[: ,0:4], inplace=True, axis=0)
df.columns = df.iloc[0]
df.drop(df.index[:1], inplace=True)
display(df.head())

4,City,Population,Violent crime,Murder and nonnegligent manslaughter,Rape (revised definition)1,Rape (legacy definition)2,Robbery,Aggravated assault,Property crime,Burglary,Larceny- theft,Motor vehicle theft,Arson3
5,Adams Village,"1,861",0,0,NaN,0,0,0,12,2,10,0,0
6,Addison Town and Village,"2,577",3,0,NaN,0,0,3,24,3,20,1,0
7,Akron Village,"2,846",3,0,NaN,0,0,3,16,1,15,0,0
8,Albany,"97,956",791,8,NaN,30,227,526,"4,090",705,"3,243",142,NaN
9,Albion Village,"6,388",23,0,NaN,3,4,16,223,53,165,5,NaN

In [59]:
#df['Nordic'] = np.where((df['Robbery'].isin([lambda x: x[>0: ]])), 1, 0)
#print(pd.crosstab(df['Nordic'], df['Robbery']))
#df.loc[:, 'A'].replace([1, 3, 2], [3, 6, 7], inplace=True)

#le = LabelEncoder()
#df["Robbery"] = df["Robbery"].apply(lambda Robbery: le.fit_transform["Robbery"])
df["Robbery"] = df["Robbery"].apply(lambda x: x[ : ]])), 1, 0)

SyntaxError: invalid syntax (<ipython-input-59-770c43f72aff>, line 7)

In [58]:
df.head(100)

4,City,Population,Violent crime,Murder and nonnegligent manslaughter,Rape (revised definition)1,Rape (legacy definition)2,Robbery,Aggravated assault,Property crime,Burglary,Larceny- theft,Motor vehicle theft,Arson3
5,Adams Village,"1,861",0,0,NaN,0,0,0,12,2,10,0,0
6,Addison Town and Village,"2,577",3,0,NaN,0,0,3,24,3,20,1,0
7,Akron Village,"2,846",3,0,NaN,0,0,3,16,1,15,0,0
8,Albany,"97,956",791,8,NaN,30,0,526,"4,090",705,"3,243",142,NaN
9,Albion Village,"6,388",23,0,NaN,3,0,16,223,53,165,5,NaN
10,Alfred Village,"4,089",5,0,NaN,0,0,2,46,10,36,0,NaN
11,Allegany Village,"1,781",3,0,NaN,0,0,3,10,0,10,0,0
12,Amherst Town,"118,296",107,1,NaN,7,0,68,"2,118",204,"1,882",32,3
13,Amityville Village,"9,519",9,0,NaN,2,0,3,210,16,188,6,1
14,Amsterdam,"18,182",30,0,NaN,0,0,18,405,99,291,15,0
15,Arcade Village,"2,053",0,0,NaN,0,0,0,39,3,35,1,0
16,Ardsley Village,"4,523",5,0,NaN,0,0,2,33,4,28,1,0
17,Asharoken Village,658,0,0,NaN,0,0,0,2,0,2,0,0
18,Attica Village,"2,522",2,0,NaN,0,0,2,5,0,4,1,0
19,Auburn,"27,270",96,1,NaN,20,0,53,859,132,721,6,NaN
20,Avon Village,"3,333",1,0,NaN,0,0,0,25,3,20,2,NaN
21,Baldwinsville Village,"7,473",5,0,NaN,0,0,4,88,10,77,1,0
22,Ballston Spa Village,"5,418",8,0,NaN,0,0,5,94,16,78,0,1
23,Batavia,"15,374",57,0,NaN,7,0,37,559,103,454,2,NaN
24,Bath Village,"5,733",15,0,NaN,1,0,11,191,32,157,2,2
25,Bedford Town,"17,627",5,0,NaN,0,0,4,156,26,127,3,NaN
26,Bethlehem Town,"34,243",13,0,NaN,0,0,10,442,50,388,4,NaN
27,Binghamton,"46,304",284,3,NaN,19,0,161,"2,349",525,"1,767",57,NaN
28,Black River,"1,410",0,0,NaN,0,0,0,14,2,12,0,0
29,Blooming Grove Town,"12,001",8,0,NaN,1,0,7,99,20,72,7,NaN
30,Bolivar Village,"1,022",1,0,NaN,0,0,1,4,2,2,0,0
31,Bolton Town,"2,325",2,0,NaN,0,0,2,24,4,20,0,0
32,Boonville Village,"2,054",1,0,NaN,0,0,1,20,6,14,0,0
33,Brant Town,"2,065",4,0,NaN,0,0,3,31,9,20,2,0
34,Brewster,"2,358",0,0,NaN,0,0,0,13,3,10,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,Cuba Town,"3,209",5,0,NaN,1,0,4,81,7,72,2,0
76,Dansville Village,"4,605",2,0,NaN,0,0,1,152,24,120,8,0
77,Deerpark Town,"7,827",7,0,NaN,2,0,3,152,52,100,0,NaN
78,Delhi Village,"2,985",1,0,NaN,0,0,1,36,4,30,2,NaN
79,Depew Village,"15,189",17,0,NaN,3,0,12,310,54,251,5,2
80,Deposit Village,"1,628",0,0,NaN,0,0,0,14,6,8,0,0
81,Dewitt Town,"22,681",20,0,NaN,0,0,10,715,85,618,12,0
82,Dexter Village,"1,122",0,0,NaN,0,0,0,8,2,6,0,0
83,Dobbs Ferry Village,"11,021",1,0,NaN,0,0,1,104,13,89,2,0
84,Dolgeville Village,"2,191",7,0,NaN,0,0,7,41,6,34,1,NaN
85,Dryden Village,"1,913",3,0,NaN,0,0,2,99,6,93,0,NaN
86,Dunkirk,"12,329",40,0,NaN,0,0,28,307,78,228,1,NaN
87,East Aurora-Aurora Town,"13,774",5,0,NaN,0,0,3,131,24,105,2,0
88,Eastchester Town,"19,800",2,0,NaN,0,0,2,168,13,154,1,0
89,East Fishkill Town,"29,315",9,1,NaN,0,0,7,165,18,141,6,NaN
90,East Greenbush Town,"16,470",12,0,NaN,0,0,8,373,36,330,7,4
91,East Hampton Town,"19,674",20,0,NaN,2,0,17,300,56,237,7,NaN
92,East Hampton Village,"1,104",0,0,NaN,0,0,0,66,4,60,2,0
93,East Rochester Village,"6,596",8,1,NaN,0,0,4,125,25,97,3,NaN
94,East Syracuse Village,"3,036",8,0,NaN,0,0,4,147,19,121,7,0
95,Eden Town,"7,684",1,0,NaN,0,0,1,31,7,24,0,0
96,Ellenville Village,"4,124",17,0,NaN,1,0,14,173,41,132,0,1
97,Ellicott Town,"5,144",7,0,NaN,1,0,5,288,53,235,0,NaN
98,Elmira,"28,921",81,0,NaN,2,0,50,"1,027",224,790,13,NaN
99,Elmira Heights Village,"4,079",2,0,NaN,0,0,1,89,9,78,2,0
100,Elmira Town,"5,948",0,0,NaN,0,0,0,1,0,1,0,0
101,Endicott Village,"13,122",46,0,NaN,4,0,29,604,138,455,11,NaN
102,Evans Town,"16,292",17,0,NaN,1,0,15,313,48,259,6,5
103,Fairport Village,"5,335",5,0,NaN,1,0,4,53,13,37,3,NaN
104,Fallsburg Town,"12,109",22,1,NaN,0,0,21,162,65,96,1,NaN

In [162]:
df = df.loc[:, df.columns.duplicated()]

In [163]:
df.dtypes

Series([], dtype: object)

In [159]:
df["Property crime"].unique()

KeyError: 'Property crime'

In [29]:
y = df["Property crime"]
x = df["Population"]

#plt.scatter(x, y)

KeyError: 'Property crime'

In [ ]:
regr = linear_model.LinearRegression()
regr.fit(x, y)

In [ ]:
print(

In [ ]:
plt.scatter(x, y, color='black')
plt.plot(y, regr.predict(y), color='blue', linewidth=3)
plt.show()